
.App {
  text-align: center;
  height:100%
}

#cardHeader{
  height: 8vh;
  width: 35vw;
  background-color: rgba(128, 0, 128, 0.637);
  color:turquoise;
  border:3px double #07cfd6;
  border-radius: 50px 50px 50px 50px;
  margin-top:10px;
  margin-right: 10vw;
  margin-left:6vw;
 display:flex;
  justify-content: flex-start;
  flex-direction: column;
  float:left

}
.searchBar {
  background-color: black;
  color: pink;
  display: inline-flex;
  height: 3vh;
  float: right;
  width: 100%
}

.header {
  background-color: coral;
  height: 5vh;
  float: top;
}


#cardHeaderText{
  position: relative;
  margin-left: 10px;
  color:whitesmoke
}
.icon{
height:7vh;
margin-left:6px;
margin-top: 0.5vh;
float:left;
display:flex
}
.list{
margin-top:1vh;
  width: 50%;
  Height: 98vh;
  overflow: scroll;
}

#viewer{
  position:fixed;
padding:15px;
border-radius: 2px 2px 30px 30px;
  background-color: rgba(9, 140, 228, 0.589);
  width:40vw;
  margin-top: -68vh;
  margin-left:50%;
}

#selectedPanel{
display: flex;
justify-content:center;


}

body {
  background-image: url("https://eskipaper.com/images/pokemon-backgrounds-9.jpg");
  background-color: #cccccc;
  height:50vh;
 }

 #cardText{
   padding: 3px 3px 3px 3px;
margin-top:8px;
 }

 .icon2{
  width: 55px;
  margin-left: 1px;
  float:right;
  display:flex;
  margin-top: -7.5vh;
  margin-left: 5px;
  max-height: 10vh;
   
 }
 #mainViewerPic{
   max-height: 15vh;
   margin-top:6vh
 }
 .viewerHeader{
   height:1.5vh;
  position:fixed;
 padding:15px;
  border-radius: 30px 30px 2px 2px;
  background-color: rgb(2, 103, 170);
    width:40vw;
    margin-top: -74.2vh;
    margin-left:50%;
    
 }
 #viewerHeaderText{
   margin-top: -1.5vh;
 }